/* ! hero-section */
.hero {
  padding: 0 50px;
  background-image: url(./../imgs/hero-bg.png);
  height: 493px;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
.hero > button {
  width: 60px;
  height: 60px;
  background-color: transparent;
  border-style: solid;
  border-color: #eeeeee;
  border-radius: 30px;
  border-width: 1px;
}
.hero > button img {
  width: 16px;
  height: 16px;
}
.hero .hero-content {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
}
.hero .hero-content h2 {
  font-size: 48px;
}
.hero .hero-content p {
  color: #f8f8f8;
  width: 814px;
}
.hero .hero-content button {
  background-color: var(--primary-color);
  padding: 16px;
  border: none;
  color: white;
  border-radius: 4px;
  width: 200px;
}
@media (max-width: 630px) {
  .hero {
    padding: 0 20px;
  }
  .hero > button {
    width: fit-content;
  }
  .hero .hero-content p {
    width: 100%;
  }
}
@media (min-width: 630px) and (max-width: 1024px) {
  .hero {
    background-position: center;
  }
  .hero .hero-content p {
    width: 500px;
  }
}
/* ! features-section */
.features-container {
  margin: 50px 50px 0;
  padding: 30px;
  border-style: solid;
  border-width: 1px;
  border-color: #eeeeee;
  display: flex;
  justify-content: space-between;
}
.features-container .features-card {
  display: flex;
}
.features-container .features-card div {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-left: 10px;
}
.features-container .features-card h6 {
  font-weight: 500;
  font-size: 20px;
  color: var(--dark-gray-color);
}
.features-container .features-card p {
  clear: var(--gray-color);
}
@media (max-width: 630px) {
  .features-container {
    flex-direction: column;
    margin: 50px 20px 0;
    padding: 20px;
    gap: 30px;
  }
  .features-container .features-card div {
    gap: 10px;
  }
}
@media (min-width: 630px) and (max-width: 1024px) {
  .features-container .features-card {
    flex-direction: column;
    gap: 10px;
  }
  .features-container .features-card img {
    width: 50px;
  }
}
/* ! banners-section */
.banners-container {
  padding: 50px 50px 0;
  display: flex;
  justify-content: space-between;
}
.banners-container > div {
  width: 570px;
  height: 220px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 20px;
  gap: 16px;
}
.banners-container .galaxy-s24 {
  background-image: url(./../imgs/samsung-s24-bg.png);
}

.banners-container .headphones {
  background-image: url(./../imgs/headphones-bg.png);
}
.banners-container > div > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.banners-container > div > div p {
  font-weight: 500;
  color: var(--gray-color);
}
.banners-container > div > div h6 {
  font-size: 27px;
  font-weight: 500;
  color: var(--dark-gray-color);
}
.banners-container > div button {
  color: var(--dark-gray-color);
  background-color: transparent;
  border: none;
}
@media (max-width: 630px) {
  .banners-container {
    flex-direction: column;
    padding: 50px 20px 0;
    align-items: center;
    gap: 30px;
  }
  .banners-container > div {
    width: 100%;
    padding: 0;
    text-align: center;
    align-items: center;
  }
}
@media (min-width: 630px) and (max-width: 1024px) {
  .banners-container {
    flex-direction: column;
    gap: 30px;
  }
  .banners-container > div {
    width: 100%;
    padding: 0;
  }
  .banners-container > div > div,
  .banners-container > div button {
    margin-left: 20px;
  }
}
/* ! featured-products-section */
.featured-products {
  padding: 50px 50px 0;
}
.featured-products .featured-products-header h2 {
  font-size: 30px;
  font-weight: 500;
  color: var(--dark-gray-color);
}

.featured-products .featured-products-header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.featured-products .featured-products-header div p {
  font-size: 14px;
  color: var(--gray-color);
}
.featured-products .featured-products-header div a {
  color: var(--primary-color);
  border-color: var(--primary-color);
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 15px;
  border-style: solid;
  border-radius: 4px;
  border-width: 1px;
}
.featured-products .featured-products-header div a path {
  fill: var(--primary-color);
}
.featured-products .featured-products-cards {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  flex-wrap: wrap;
  gap: 25px 0;
}
.featured-products .featured-products-cards .featured-products-card {
  width: 288px;
  height: 500px;
  border-style: solid;
  border-radius: 8px;
  border-width: 1px;
  border-color: #eeeeee;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 10px;
  position: relative;
  transition: 0.3s;
}
.featured-products .featured-products-cards .featured-products-card:hover {
  border-color: var(--primary-color);
}

.featured-products .featured-products-cards .featured-products-card small {
  background-color: var(--danger-color);
  width: 55px;
  padding: 10px;
  text-align: center;
  color: white;
  font-size: 14px;
  position: absolute;
  top: 20px;
  left: 10px;
}
.featured-products .featured-products-cards .featured-products-card small svg {
  position: absolute;
  top: 13px;
  left: 73px;
}
.featured-products .featured-products-cards .featured-products-card small path {
  fill: var(--danger-color);
}
.featured-products .featured-products-cards .featured-products-card > img {
  width: 100%;
  border-radius: 8px;
}
.featured-products .featured-products-cards .featured-products-card p {
  padding: 0 16px;
  font-size: 14px;
  color: var(--gray-color);
}

.featured-products
  .featured-products-cards
  .featured-products-card
  .product-type {
  color: var(--primary-color);
  font-size: 14px;
}
.featured-products
  .featured-products-cards
  .featured-products-card
  .product-name {
  color: var(--dark-gray-color);
  font-size: 16px;
  padding: 0 16px;
  margin-bottom: 5px;
}
.featured-products .featured-products-cards .featured-products-card span {
  font-size: 18px;
  color: var(--danger-color);
  padding: 0 16px;
}
.featured-products .featured-products-cards .featured-products-card span del {
  color: var(--light-gray-color);
  font-size: 14px;
  margin-right: 5px;
}
.featured-products
  .featured-products-cards
  .featured-products-card
  .featured-card-footer {
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
}
.featured-products
  .featured-products-cards
  .featured-products-card
  .featured-card-footer
  button {
  padding: 16px;
  border-style: solid;
  border-width: 1px;
  border-color: #eeeeee;
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  font-weight: 500;
  color: var(--dark-gray-color);
  border-radius: 8px;
  transition: 0.3s;
}
.featured-products
  .featured-products-cards
  .featured-products-card
  .featured-card-footer
  button
  svg {
  width: 15px;
}
.featured-products
  .featured-products-cards
  .featured-products-card
  .featured-card-footer
  button
  path {
  transition: 0.3s;
}
.featured-products
  .featured-products-cards
  .featured-products-card
  .featured-card-footer
  button:hover {
  background-color: var(--primary-color);
  color: white;
}
.featured-products
  .featured-products-cards
  .featured-products-card
  .featured-card-footer
  button:hover
  path {
  fill: white;
}
@media (max-width: 630px) {
  .featured-products {
    padding: 50px 20px;
    align-items: center;
  }
  .featured-products .featured-products-header div {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
  .featured-products .featured-products-cards {
    flex-direction: column;
    align-items: center;
  }
  .featured-products .featured-products-cards .featured-products-card {
    width: 100%;
  }
}
@media (min-width: 630px) and (max-width: 1024px) {
  .featured-products .featured-products-cards {
    justify-content: center;
    gap: 20px;
  }
}
/* ! best-sales-section */
.best-sales {
  height: 500px;
  margin-top: 50px;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url(./../imgs/best-sales-bg.png);
  background-size: cover;
}
.best-sales .best-sales-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  color: white;
}
.best-sales .best-sales-content h2 {
  font-size: 48px;
}
.best-sales .best-sales-content p {
  width: 503px;
  line-height: 25px;
}
.best-sales .best-sales-content button {
  background-color: var(--primary-color);
  border-radius: 4px;
  border-style: none;
  color: white;
  width: 184px;
  height: 56px;
}
@media (max-width: 630px) {
  .best-sales {
    padding: 20px;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    height: max-content;
  }
  .best-sales > img {
    width: 100%;
  }
  .best-sales .best-sales-content h2,
  .best-sales .best-sales-content p {
    width: 100%;
  }
}
@media (min-width: 630px) and (max-width: 1024px) {
  .best-sales {
    padding: 50px;
    flex-direction: column;
    align-items: flex-start;
    height: max-content;
    gap: 30px;
  }
}
/* ! our-categories-section */
.categories {
  padding: 50px 50px 0;
}
.categories .categories-header h2 {
  font-size: 30px;
  font-weight: 500;
  color: var(--dark-gray-color);
}

.categories .categories-header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.categories .categories-header div p {
  font-size: 14px;
  color: var(--gray-color);
}
.categories .categories-header div a {
  color: var(--primary-color);
  border-color: var(--primary-color);
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 15px;
  border-style: solid;
  border-radius: 4px;
  border-width: 1px;
}
.categories .categories-header div a path {
  fill: var(--primary-color);
}
.categories .categories-cards {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.categories .categories-cards .categories-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.categories .categories-cards .categories-card img {
  width: 135px;
  border-radius: 66px;
}
.categories .categories-cards .categories-card h6 {
  font-size: 20px;
  color: var(--dark-gray-color);
  width: max-content;
}
.categories .categories-cards .categories-card p {
  color: var(--gray-color);
}
@media (max-width: 630px) {
  .categories {
    padding: 50px 20px;
    align-items: center;
  }
  .categories .categories-header div {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
  .categories-cards {
    overflow-x: scroll;
    gap: 30px;
  }
}
@media (min-width: 630px) and (max-width: 1024px) {
  .categories .categories-cards {
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }
}
/* ! offers-section */
.offers {
  padding: 50px 50px 0;
}
.offers .offers-header h2 {
  font-size: 30px;
  font-weight: 500;
  color: var(--dark-gray-color);
}

.offers .offers-header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.offers .offers-header div p {
  font-size: 14px;
  color: var(--gray-color);
}
.offers .offers-header div a {
  color: var(--primary-color);
  border-color: var(--primary-color);
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 15px;
  border-style: solid;
  border-radius: 4px;
  border-width: 1px;
}
.offers .offers-header div a path {
  fill: var(--primary-color);
}
.offers .offers-cards {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.offers .offers-cards .offers-card {
  position: relative;
  border-color: var(--primary-color);
  border-radius: 4px;
  border-style: solid;
  display: flex;
  padding: 20px;
}
.offers .offers-cards .offers-card small {
  background-color: var(--danger-color);
  width: 55px;
  padding: 10px;
  text-align: center;
  color: white;
  font-size: 14px;
  position: absolute;
  top: 20px;
  left: 20px;
}
.offers .offers-cards .offers-card small svg {
  position: absolute;
  top: 13px;
  left: 73px;
}
.offers .offers-cards .offers-card .card-content {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.offers .offers-cards .offers-card .card-content p {
  color: var(--gray-color);
}

.offers .offers-cards .offers-card .card-content .product-type {
  color: var(--primary-color);
  font-size: 14px;
}
.offers .offers-cards .offers-card .card-content .product-name {
  font-size: 18px;
  color: var(--dark-gray-color);
}
.offers .offers-cards .offers-card .card-content .product-rate {
  color: var(--light-gray-color);
  display: flex;
  align-items: center;
  gap: 5px;
}
.offers .offers-cards .offers-card .card-content .product-price {
  color: var(--danger-color);
  font-size: 18px;
}
.offers .offers-cards .offers-card .card-content .countdown {
  display: flex;
  gap: 8px;
}
.offers .offers-cards .offers-card .card-content .countdown p {
  padding: 4px 0;
  background-color: #f8f8f8;
  color: var(--light-gray-color);
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
  width: 83px;
}
.offers .offers-cards .offers-card .card-content .countdown p span {
  font-size: 18px;
  color: var(--dark-gray-color);
  font-weight: 500;
}
.offers .offers-cards .offers-card .card-content .card-actions {
  display: flex;
  justify-content: space-between;
}
.offers
  .offers-cards
  .offers-card
  .card-content
  .card-actions
  button:first-child {
  background-color: transparent;
  border-style: solid;
  border-radius: 4px;
  border-color: #eeeeee;
  border-width: 1px;
  height: 56px;
  width: 50px;
  display: inline;
}
.offers .offers-cards .offers-card .card-content .card-actions button {
  background-color: var(--primary-color);
  border-radius: 4px;
  border-style: none;
  color: white;
  border-width: 1px;
  height: 56px;
  width: 299px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
@media (max-width: 630px) {
  .offers {
    padding: 50px 20px;
    align-items: center;
  }
  .offers .offers-header div {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
  .offers .offers-cards {
    flex-direction: column;
    gap: 30px;
  }
  .offers .offers-cards .offers-card {
    flex-direction: column;
  }
  .offers .offers-cards .offers-card .card-content .card-actions button {
    width: 150px;
  }
}
@media (min-width: 630px) and (max-width: 1024px) {
  .offers .offers-cards {
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
}
/* ! feature-product-section */
.feature-of-products {
  padding: 50px 50px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.feature-of-products > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 32px 56px;
  text-align: center;
}
.feature-of-products div h6 {
  font-size: 18px;
  font-weight: 600;
  color: var(--dark-gray-color);
}
.feature-of-products div p {
  color: var(--gray-color);
  font-size: 14px;
  width: 278px;
}
.feature-of-products div button {
  color: var(--dark-gray-color);
  background-color: transparent;
  border: none;
  width: 278px;
}
@media (max-width: 630px) {
  .feature-of-products {
    padding: 50px 20px 0;
    justify-content: center;
    gap: 30px;
  }
  .feature-of-products div  {
    padding: 20px 0;
    width: max-content;
  }
}
@media (min-width: 630px) and (max-width: 1024px) {
  .feature-of-products {
    justify-content: center;
    gap: 30px;
  }
}
/* ! sales-banner */
.sales-banner {
  margin-top: 50px;
  padding: 30px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 32px;
  color: white;
  background-image: url(./../imgs/best-sales-banner.png);
  background-size: cover;
}
.sales-banner h2 {
  font-size: 48px;
}
.sales-banner p {
  width: 503px;
}
.sales-banner button {
  background-color: var(--primary-color);
  border-radius: 4px;
  border-style: none;
  padding: 16px 0;
  width: 184px;
  color: white;
}
@media (max-width: 630px) {
  .sales-banner {
    padding: 20px;
    gap: 30px;
  }
  .sales-banner p {
    width: 100%;
  }
}
/* ! reviews-section */
.reviews {
  padding: 50px 50px 0;
}
.reviews .reviews-header h2 {
  color: var(--dark-gray-color);
  font-size: 30px;
  font-weight: 500;
}
.reviews .reviews-header p {
  font-size: 14px;
  color: var(--gray-color);
}
.reviews .reviews-cards {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.reviews .reviews-cards .review-card {
  width: 350px;
  border-color: #eeeeee;
  border-width: 1px;
  border-radius: 4px;
  border-style: solid;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.reviews .reviews-cards .review-card .review-header-card {
  display: flex;
  justify-content: space-between;
}
.reviews .reviews-cards .review-card p {
  color: var(--gray-color);
  width: 332px;
}
.reviews .reviews-cards .review-card div .comment-name {
  font-size: 18px;
  color: var(--dark-gray-color);
}
@media (max-width: 630px) {
  .reviews {
    padding: 50px 20px 0;
  }
  .reviews .reviews-cards {
    gap: 20px;
    overflow-x: scroll;
  }
  .reviews .reviews-cards .review-card p {
    width: 100%;
  }
}
@media (min-width: 630px) and (max-width: 1024px) {
  .reviews .reviews-cards {
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
}
/* ! brands-section */
.brands {
  padding: 50px 50px 0;
  display: flex;
  justify-content: space-between;
}
.brands .brand {
  border: solid 1px #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 226px;
  height: 110px;
}
.brands .brand img {
  width: 156px;
}
@media (max-width: 630px) {
  .brands {
    padding: 50px 20px 0;
    overflow-x: scroll;
    gap: 20px;
  }
  .brands .brand {
    padding: 0 20px;
    width: max-content;
  }
}
@media (min-width: 630px) and (max-width: 1024px) {
  .brands {
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
}
