.products {
  padding: 50px 50px 0;
  display: flex;
  justify-content: space-between;
  gap: 25px;
}
.products .product-filter {
  display: flex;
  flex-direction: column;
  width: 266px;
  border: #eeeeee 1px solid;
  border-radius: 4px;
  padding: 16px;
  height: max-content;
}
.products .product-filter button {
  margin-top: 16px;
  background-color: transparent;
  border: solid 1px var(--dark-gray-color);
  border-radius: 4px;
  height: 38px;
  color: var(--dark-gray-color);
}
.products .product-filter hr {
  border: #eeeeee 1px solid;
  margin-bottom: 16px;
  margin-top: 16px;
}
.products .product-filter .filter-by {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.products .product-filter .filter-by a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 14px;
}

.products .product-filter .product-filter-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.products .product-filter .product-filter-header p {
  color: var(--dark-gray-color);
}
.products .product-filter .filter-by .filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.products .product-filter .filter-by .filter div {
  display: flex;
  align-items: center;
  text-align: end;
  gap: 4px;
}
.products .product-filter .filter-by .filter p,
.products .product-filter .filter-by .filter div label {
  color: var(--gray-color);
  font-size: 14px;
}
.products .product-filter .filter-by .filter div .all-filter {
  color: var(--dark-gray-color);
}

.products .product-filter .filter-by .filter div input[type="radio"] {
  appearance: none;
  width: 14px;
  height: 14px;
  border: 1px solid #d6d6d6;
  border-radius: 50%;
  position: relative;
}
.products .product-filter .filter-by .filter div input[type="radio"]:hover {
  border-color: var(--primary-color);
}

.products .product-filter .filter-by .filter div input[type="radio"]:checked {
  border-color: var(--primary-color);
}
.products
  .product-filter
  .filter-by
  .filter
  div
  input[type="radio"]:checked::after {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--primary-color);
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.products .products-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 25px 0;
}
.products .products-cards .products-card {
  width: 288px;
  height: 500px;
  border-style: solid;
  border-radius: 8px;
  border-width: 1px;
  border-color: #eeeeee;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 10px;
  position: relative;
  transition: 0.3s;
}
.products .products-cards .products-card > a{
  align-self: center;
}
.products .products-cards .products-card > a img {
  margin: 5px;
  width: 250px;
}

.products .products-cards .products-card:hover {
  border-color: var(--primary-color);
}

.products .products-cards .products-card small {
  background-color: var(--danger-color);
  width: 55px;
  padding: 10px;
  text-align: center;
  color: white;
  font-size: 14px;
  position: absolute;
  top: 20px;
  left: 10px;
}
.products .products-cards .products-card small svg {
  position: absolute;
  top: 13px;
  left: 73px;
}
.products .products-cards .products-card small path {
  fill: var(--danger-color);
}
.products .products-cards .products-card > img {
  width: 100%;
  border-radius: 8px;
}
.products .products-cards .products-card p {
  padding: 0 16px;
  font-size: 14px;
  color: var(--gray-color);
}

.products .products-cards .products-card .product-type {
  color: var(--primary-color);
  font-size: 14px;
}
.products .products-cards .products-card .product-name {
  color: var(--dark-gray-color);
  font-size: 16px;
  padding: 0 16px;
  margin-bottom: 5px;
}
.products .products-cards .products-card span {
  font-size: 18px;
  color: var(--danger-color);
  padding: 0 16px;
}
.products .products-cards .products-card span del {
  color: var(--light-gray-color);
  font-size: 14px;
  margin-right: 5px;
}
.products .products-cards .products-card .product-card-footer {
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
}
.products .products-cards .products-card .product-card-footer button {
  padding: 16px;
  border-style: solid;
  border-width: 1px;
  border-color: #eeeeee;
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  font-weight: 500;
  color: var(--dark-gray-color);
  border-radius: 8px;
  transition: 0.3s;
}
.products .products-cards .products-card .product-card-footer button svg {
  width: 15px;
}
.products .products-cards .products-card .product-card-footer button path {
  transition: 0.3s;
}
.products .products-cards .products-card .product-card-footer button:hover {
  background-color: var(--primary-color);
  color: white;
}
.products
  .products-cards
  .products-card
  .product-card-footer
  button:hover
  path {
  fill: white;
}
@media (max-width: 630px) {
  .products {
    padding: 50px 20px 0;
    align-items: center;
    flex-direction: column;
  }
  .products-cards {
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 630px) and (max-width: 1024px) {
  .products {
    flex-wrap: wrap;
  }
  .products .product-filter {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    gap: 30px;
  }
  .products .product-filter .filter-by {
    gap: 20px;
  }
  .products .product-filter .filter-by .filter {
    gap: 20px;
  }

  .products .product-filter hr {
    display: none;
  }
  .products .products-cards {
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
  }
  .products .product-filter button {
    width: 200px;
  }
}
