@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: rubik;
}
button {
  cursor: pointer;
}
:root {
  --primary-color: #62d0b6;
  --danger-color: #f55157;
  --dark-gray-color: #333333;
  --gray-color: #666666;
  --light-gray-color: #a5a5a5;
}
/* ! header-section */
header {
  padding: 0 50px;
  height: 40px;
  background-color: #f8f8f8;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header div button {
  background-color: transparent;
  border-style: none;
  color: var(--gray-color);
  border-right-style: solid;
  padding: 0 20px;
  border-width: 1px;
  border-color: #d6d6d6;
  font-size: 13px;
}
header div button:first-child {
  padding-left: 0;
}
header .header-links {
  display: flex;
  gap: 15px;
}
header div .lang-switch {
  border: none;
}
header .header-links a {
  text-decoration: none;
  color: var(--gray-color);
  display: flex;
  font-size: 13px;
  flex-direction: row-reverse;
  gap: 8px;
}
header .header-links a:first-child {
  border-right-style: solid;
  border-width: 1px;
  border-color: #d6d6d6;
  padding-right: 15px;
}
@media (max-width: 430px) {
  header {
    padding: 10px 20px;
    height: max-content;
  }
  header div button {
    border: none;
    padding: 0;
  }
  header div {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  header .header-links a:first-child {
    border: none;
    padding: 0;
  }
}
@media (min-width: 431px) and (max-width: 892px) {
  header div button {
    padding-right: 0px;
    border: none;
  }
  header .header-links a:first-child {
    border: none;
  }
}
/* ! nav-section */
nav {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  height: 100px;
  align-items: center;
}
nav > button {
  background-color: transparent;
  border: none;
  display: none;
}
nav .logo-container a {
  display: flex;
  gap: 5px;
  align-items: center;
  font-size: 22px;
  text-decoration: none;
  color: var(--dark-gray-color);
  width: 70px;
  text-align: right;
}
nav .logo-container a img {
  width: 44px;
}
nav .nav-actions {
  display: flex;
  gap: 32px;
}
nav .nav-actions > div {
  display: flex;
  align-items: center;
  gap: 10px;
}
nav .nav-actions > div div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
nav .nav-actions > div div button {
  color: var(--dark-gray-color);
  background-color: transparent;
  border: none;
  display: flex;
  gap: 6px;
  align-items: center;
  font-size: 16px;
}
nav .nav-actions > div div p {
  color: var(--dark-gray-color);
}
nav .nav-actions > div div .title {
  color: var(--light-gray-color);
  font-size: 14px;
}
nav .nav-actions > div > a {
  background-color: #f8f8f8;
  border-style: none;
  border-radius: 50px;
  display: flex;
  padding: 8px;
}
@media (max-width: 430px) {
  nav {
    padding: 0 20px;
  }
  nav > button {
    display: block;
  }
  nav .nav-actions {
    display: none;
  }
}
@media (min-width: 431px) and (max-width: 892px) {
  nav > button {
    display: block;
  }
  nav .nav-actions {
    display: none;
  }
}

/* ! subscribe-section */
.subscribe-container {
  margin-top: 50px;
  padding: 0 50px;
  height: 115px;
  display: flex;
  justify-content: space-between;
  background-color: #f8f8f8;
  align-items: center;
}
.subscribe-container > div {
  display: flex;
  align-items: center;
  gap: 10px;
}
.subscribe-container > div:first-child > div:first-child img {
  width: 32px;
}
.subscribe-container > div:first-child > div:first-child {
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d6f8f080;
  border-radius: 50px;
}
.subscribe-container > div:first-child > div p:first-child {
  color: var(--dark-gray-color);
  font-size: 20px;
}
.subscribe-container > div:first-child > div p {
  color: var(--gray-color);
  font-size: 14px;
}
.subscribe-container div input {
  border: solid 1px #eeeeee;
  border-radius: 4px;
  padding: 10px 12px;
  width: 342px;
}
.subscribe-container div button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  font-size: 14px;
  padding: 10px 16px;
  border-radius: 4px;
  margin-left: 5px;
}
@media (max-width: 430px) {
  .subscribe-container {
    padding: 30px 20px;
    flex-direction: column;
    height: max-content;
    align-items: center;
    text-align: center;
    gap: 20px;
  }
  .subscribe-container > div {
    flex-direction: column;
  }

  .subscribe-container div input {
    width: 300px;
    margin-bottom: 10px;
  }
  .subscribe-container div button {
    margin: 0;
  }
  .subscribe-container > div:first-child {
    flex-direction: column;
  }
}
@media (min-width: 431px) and (max-width: 892px) {
  .subscribe-container div input {
    width: 280px;
  }
  .subscribe-container > div:first-child {
    flex-direction: row;
    align-items: center;
  }
  .subscribe-container > div:first-child div {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .subscribe-container > div {
    flex-direction: column;
    align-items: flex-start;
  }
  .subscribe-container div button {
    margin: 0;
  }
}
/* ! footer-section */
footer {
  height: 63px;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1d1f1f;
}
footer p {
  font-size: 14px;
  color: white;
}
footer > div {
  display: flex;
  align-items: center;
  gap: 50px;
}
footer > div > div {
  display: flex;
  align-items: center;
  gap: 10px;
}
@media (max-width: 430px) {
  footer {
    flex-direction: column;
    padding: 20px;
    height: max-content;
    justify-content: center;
    gap: 20px;
    align-items: center;
  }
  footer > div {
    gap: 20px;
    flex-direction: column;
  }
  footer > div > div {
    flex-wrap: wrap;
    gap: 1px;
    justify-content: center;
  }
}
@media (min-width: 431px) and (max-width: 892px) {
  footer {
    padding: 50px 0;
    gap: 20px;
    flex-direction: column;
    height: max-content;
  }
  footer > div {
    flex-direction: column;
    gap: 20px;
  }
}
